.Header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background: #272630;
    overflow: hidden;
    white-space: no-wrap;
    user-select: none;
    color: white;
    margin-bottom: 5px;
}

.Header-title {
    display: inline-block;
    vertical-align: top;
    color: white;
    border-radius: 0;
}

.Header-title {
    line-height: 48px;    
}