.Header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    /*background: rgb(33, 33, 33);*/
    background: rgb(0, 120, 215);
    overflow: hidden;
    white-space: no-wrap;
    user-select: none;
    color: white;
    margin-bottom: 5px;
    border: 1px solid #000;
}

.Header-title {
    display: inline-block;
    vertical-align: top;
    color: white;
    border-radius: 0;
}

.Header-title {
    line-height: 48px;    
}